/* ############## default ############# */

html {
    font-size: 62.5%; /* 10px */
}

*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family:"samim", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: #666; 
    direction: rtl;
    font-size: 1.6rem;
}

div.main {
    display: block;
    margin: 0 auto;
    width: max-content;
    padding: 2rem;
}

.active {
    display: block;
}

.hide {
    display: none;
}

/* ###### title ###### */

div.title {
    display: block;
    background-color: #fff;
    box-shadow: 0px 0px 1.7rem #ACACAC;
    border-radius: 2rem;
    width: 30rem;
    text-align: center;
    padding: .5rem 1rem;
    margin: 5rem auto;
    animation: ease-out 1s op;
}
div.title h1{
    font-size: 3.5rem;
}

/* ####### add icon ######## */


div.add-icon{
    display: block;
    background-color: #fff;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    padding: .25rem;
    box-shadow: 0px 0px .5rem #0085FF;
    transition: ease-out .5s;
}

div.add-icon:hover{
    transform: translateY(-.5rem);
}


/* ###### message input ###### */

form.msg-form{
    display: none;
    animation: ease-out 1s open;
}

div.input-msg textarea{
    width: 30rem;
    border: none;
    background-color: #f3f3f3;
    resize: none;
    padding: 1rem;
    font-size: 2rem;
}

div.msg-btn button#sub-msg{
    border: none;
    padding: .7rem 3rem;
    background-color: #0085FF;
    color: #fff;
    font-size: 2rem ;
    border-radius: .5rem;
    cursor: pointer;
}

div.msg-btn button#cancel-msg{
    border: none;
    padding: .7rem 3rem;
    background-color: #eaeaea;
    color: #000;
    font-size: 2rem ;
    border-radius: .5rem;
    cursor: pointer;
}
/* ########### message container ########## */

div.msg-container{
    display: block;
}

div.msg-container div.msg{
    text-align: right;
    width: 50rem;
    margin: 5rem 0;
    background: #FFFFFF;
    box-shadow: 0px 0px 2rem #0085FF;
    border-radius: 2rem;
    padding: 2rem;
    font-size: 2rem;
}

/* ####### social ##### */
div#social {
    text-align: center;
}

div.github a{
    text-decoration: none;
    color: #666;
    text-align: center;
}

/* ############## animation ############ */

@keyframes title{
    0%{
        transform: translateY(-10rem);
        opacity: 0;
    }

    80%{
        transform: translateY(2rem);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }

}

@keyframes open{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;

    }
}

/* ########## mobile ####### */

@media all and (max-width: 768px){
    div.msg-container div.msg{
        width: 25rem;
    }
}